<a href="/logout">Logout</a>

Name: <%= @current_lender.first_name %> <%= @current_lender.last_name %> <br />
Amount Balance: <%= number_to_currency(@current_lender.money) %>
<h3>List of people in need of help:</h3>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>

<table>
  <thead>
    <tr>
    <td>Name</td>
    <td>Need Money for</td>
    <td>Reason for Loan</td>
    <td>Amount Needed</td>
    <td>Amount Raised</td>
    <td>Action</td>
    </tr>
  </thead>
  <% @borrowers.each do |b| %>
  <tr>
    <td> <%= b.first_name %> <%= b.last_name %> </td>
    <td> <%= b.purpose %> </td>
    <td> <%= b.description %> </td>
    <td> <%= number_to_currency(b.requested) %> </td>
    <td> <%= number_to_currency(b.raised) %> </td>
    <td>
      <form action="/online_lending/lender/<%= @current_lender.id %>" method="post">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input type="hidden" name="current_borrower" value="<%= b.id %>">
        <input type="number" value="25" name="lend_amount">
        <input type="submit" value="Lend">
      </form>
    </td>
  </tr>
  <% end %>
</table>

<h3>List of people you lend money to:</h3>
<table>
  <thead>
    <tr>
    <td>Name</td>
    <td>Need Money for</td>
    <td>Reason for Loan</td>
    <td>Amount Needed</td>
    <td>Amount Raised</td>
    </tr>
  </thead>
  <% if @lendees %>
  <% @lendees.each do |l| %>
  <tr>
    <td> <%= l.first_name %> <%= l.last_name %> </td>
    <td> <%= l.purpose %> </td>
    <td> <%= l.description %> </td>
    <td> <%= number_to_currency(l.requested) %> </td>
    <td> <%= number_to_currency(l.raised) %> </td>
  </tr>
  <% end %>
  <% end %>
</table>
